.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.searchBar input {
    padding-left: 10px;
}

.jsonHandle {
    display: none;
}