.opt {
  /* display: flex; */
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  width: 100% !important; 
  display: flex;
  align-items: center;
  justify-content: center;
  /* left: 50%; */
  text-align: center; 
  /* display: table-cell;  */
  text-align: center; 
  vertical-align: middle; 
}
  
    @media screen and (max-width: 960px) {
      .opt {
      transition: 0.9s all ease;
    }
  }

  .optLogo {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    .optLogo {
      font-size: 0.8rem;
      overflow: hidden;
    }
  }

  .objProperties {
    margin-top: 50px;
  }

  .solved:hover {
    border: 5px solid rgb(180, 219, 171);
  }

  .failed:hover {
    border: 5px solid rgb(219, 171, 171);
  }

  .solved {
    font-size: 1.8rem;
    border-radius: 15px;
    float: left;
    width: 70px; 
    height: 70px;
    background-color: rgb(198, 236, 188);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .solvedUnder {
    font-size: 0.8rem;
    float: left;
    margin-left: -80px;
    margin-top: 90px;
    /* position: relative; */
    color: #494d49;
    background-color: rgb(198, 236, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .solved a, .failed a{
    background-color: inherit;
  }

  .failed {
    font-size: 1.8rem;
  border-radius: 15px;
  float: right;
  margin-left: 20px;
  width: 70px;
  height: 70px;
  background-color: rgb(255, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .failedUnder {
  font-size: 0.8rem;
  float: right;
  margin-right: -98px;
  margin-top: 90px;
  /* position: relative; */
  color: #494d49;
  background-color: rgb(255, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  
  .optContainer { 
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    /* background-color: wheat; */
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 30px;
    -webkit-transition: color .15s ease,border-color .15s ease;
    transition: color .15s ease,border-color .15s ease;
    width: 300px;
    font-weight: 500;
  }

  .optContainer p {
    color: #494d49;
    background-color: inherit;
    font-size: 1rem;
    margin-top: 20px;
  }
  