.opt {
  display: flex;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.opt > div {
float: right;
/* margin: 10px; */
}
  
    @media screen and (max-width: 960px) {
      .opt {
      transition: 0.9s all ease;
    }
  }

  .optLogo {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    .optLogo {
      font-size: 0.8rem;
      overflow: hidden;
    }
  }

  .solved {
    width:60px; 
    height: 60px;
    border: 3px solid #47d25e;
        cursor: pointer;
        color: #47d25e;
        text-align: center;
        /* border-radius: 20px; */
  }
  .failed {
    width:60px; 
    height: 60px;
    border: 3px solid #47d25e;
        cursor: pointer;
        color: #47d25e;
        text-align: center;
        
        /* border-radius: 20px; */
  }
  
  
  .optContainer { 
    flex-direction: row;
    /* width: 20px; */
    /* background-color: aqua; */
    text-align:center;
    display: flex;
    vertical-align: middle;
  }
  