.nav {
    position: relative;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    display: flex;
  }
  
    @media screen and (max-width: 768px) {
      .nav {
      transition: 0.9s all ease;
    }
  }

  .navbarContainer {
    display: flex;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
  }
  
  .navLogo {
    color: #85586F;
    cursor: pointer;
    font-weight: bold;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
  }
  