html,
body {
  overflow-wrap: break-word;
  font-family: Neue Haas Grotesk W01 Disp,Helvetica,Arial,Nimbus Sans L,sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-color: #F8ECD1;
}
