.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  margin-top: 50px; 
  flex: 1;
  justify-content: center;
  align-items: center;
}

.loadText {
  float: right;
  margin-right: 1.5rem;
  font-weight: 700;
  color: rgb(189, 150, 131);
}

.connect {
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.parentIdH1 {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  max-width: 50%;
  width: 30%;
  line-height: 1.5;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  color: #437427;
  background: linear-gradient(180deg, #E9FF8F 0%, #6CDE36 100%);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  /* background-color: #97dd82;
  color: #437427; */
  font-weight: 600;
  border-radius: 15px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.parentIdH1Ans {
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 435px;
  line-height: 1.5;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  background: linear-gradient(180deg, #E9FF8F 0%, #6CDE36 100%);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.qWrapper {
  font-size: 0.5rem;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
}

.qWrapper h1 {
  position: absolute;
  left: 50%;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.65rem;
  color: white;
}

.naWrapper {
  font-size: 0.5rem;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  height: 50px;
}

.naWrapper h1 {
  position: absolute;
  left: 50%;
  background: linear-gradient(180deg, #ff8f8f 0%, #de3636 100%);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px;
  margin-top: 50px;
  /* max-width: 460px; */
  font-weight: 600;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: #430b0b;
}

.naWrapper h1:hover {
  background-color: #b01818;
  cursor: pointer;
}

.lvlAnswer {
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  background: linear-gradient(180deg, #FFE792 0%, #E8A138 100%);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  text-decoration: none;
  display: block;
  width: 435px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
  font-size: 1.5rem;
}

.lvlAnswerNoBg {
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  color: #494d49;
  font-weight: 500;
  text-decoration: none;
  line-height: 30px;
  display: block;
  /* width: 60%; */
  max-width: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
}

.wrapperCard {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.questionCard {
  display: inline;
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  /* background-color: #DEB6AB;
  color: #85586F; */
  background: linear-gradient(180deg, #fff48f 0%, #de9b36 100%);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border-radius: 15px;
  width: 435px;
  -webkit-transition: color .15s ease,border-color .15s ease;
  transition: color .15s ease,border-color .15s ease;
}

.questionCard:hover {
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  /* background-color: #c4f4a8;
  color: rgb(38, 136, 38); */
  background: linear-gradient(180deg, #E9FF8F 0%, #6CDE36 100%);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border-radius: 15px;
  -webkit-transition: color .15s ease,border-color .15s ease;
  transition: color .15s ease,border-color .15s ease;
  cursor: pointer;
}

.card {
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  background: linear-gradient(180deg, #FFE792 0%, #E8A138 100%);
box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  /* background-color: #f4d3a8;
  color: #b38e5e; */
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 15px;
  -webkit-transition: color .15s ease,border-color .15s ease;
  transition: color .15s ease,border-color .15s ease;
  width: 435px;
  font-weight: 500;
}

.card:hover, .questionCard:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .card {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .parentIdH1 {
    width: 90%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .parentIdH1Ans {
    max-width: 80%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .lvlAnswer {
    font-size: 1rem;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .qWrapper h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .questionCard {
    font-size: 1rem;
    /* width: 300px; */
    display: inline;
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .naWrapper h1 {
    font-size: 1rem;
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .qWrapper {
    height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .lvlAnswerNoBg {
    max-width: 100%;
  }
}

.windowFull {
  padding: 0;
  margin: 0 auto;
}

.windowFrame {
  position: relative;
}

.windowFrameLeft {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .windowFrameLeft {
    position: absolute;
    width: 100%;
  }
}


.card:hover {
  cursor: pointer;
  color: #811a1a;
  background: linear-gradient(180deg, #ffdf8f 0%, #ded036 100%);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  opacity: 50%;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
