.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  margin-top: 100px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.loadText {
  float: right;
  color: rgb(189, 131, 171);
}

.connect {
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.parentIdH1 {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  max-width: 50%;
  width: 30%;
  line-height: 1.5;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  background-color: #ded0ab;
  color: #2a322a;
  font-weight: 600;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.parentIdH1Ans {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  max-width: 50%;
  width: 30%;
  line-height: 1.5;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  background-color: #abdebb;
  color: #494d49;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.qWrapper {
  font-size: 0.5rem;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
}

.qWrapper h1 {
  position: absolute;
  left: 50%;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.65rem;
  color: white;
}

.naWrapper {
  font-size: 0.5rem;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  height: 50px;
}

.naWrapper h1 {
  position: absolute;
  left: 50%;
  background-color: #ea3939;
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  max-width: 460px;
  font-weight: 500;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: #ffffff;
}

.naWrapper h1:hover {
  background-color: #b01818;
  cursor: pointer;
}

.lvlAnswer {
  background: wheat;
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  color: #494d49;
  font-weight: 500;
  text-decoration: none;
  display: block;
  width: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
  font-size: 1.5rem;
}

.lvlAnswerNoBg {
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  color: #494d49;
  font-weight: 500;
  text-decoration: none;
  line-height: 30px;
  display: block;
  width: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
}

.wrapperCard {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.questionCard {
  display: inline;
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  background-color: #DEB6AB;
  color: #85586F;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: color .15s ease,border-color .15s ease;
  transition: color .15s ease,border-color .15s ease;
}

.questionCard:hover {
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  background-color: #abdebb;
  color: #494d49;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: color .15s ease,border-color .15s ease;
  transition: color .15s ease,border-color .15s ease;
  cursor: pointer;
}

.card {
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  background-color: #DEB6AB;
  color: #85586F;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: color .15s ease,border-color .15s ease;
  transition: color .15s ease,border-color .15s ease;
  width: 300px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .card {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .parentIdH1 {
    width: 90%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .parentIdH1Ans {
    width: 90%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .lvlAnswer {
    font-size: 1rem;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .qWrapper h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .questionCard {
    font-size: 1rem;
    display: inline;
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .naWrapper h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .qWrapper {
    height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .naWrapper {

  }
}

.windowFull {
  padding: 0;
  margin: 0 auto;
}

.windowFrame {
  position: relative;
}

.windowFrameLeft {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .windowFrameLeft {
    position: absolute;
    width: 100%;
  }
}


.card:hover {
  cursor: pointer;
  background-color: #5200FF;
  color: #abdebb;
  opacity: 50%;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
